/**
 * Tags Module Style Sheet for Phire CMS 2
 */

#tag-form {
    margin: 10px auto 10px auto;
    padding: 15px 0 15px 0;
    width: 100%;
    min-height: 460px;
    border-top: solid 1px #ccc;
}

#tag-form > dl:first-child {
    margin: 0 0 0 20px;
    padding: 0 0 0 20px;
    width: 160px;
    border-left: solid 1px #ccc;
    float: right;
    min-height: 525px;
    height: 100%;
}

#tag-form > dl:first-child > dt {
    width: 100%;
}

#tag-form > dl:first-child > dt {
    margin: 0 0 5px 0;
    border-bottom: dotted 1px #aaa;
}

#tag-form-field-group-1 > dd:first-child, #tag_parent_id {
    width: 160px;
}

#tag-form-field-group-2 {
    width: calc(100% - 220px);
}

#tag-form-field-group-2 > dt, #tag-form-field-group-2 > dd {
    width: 98%;
    padding-left: 4px;
}

.tags-nav-icon:before {
    font-family: "FontAwesome";
    font-weight: normal;
    content: "\f02b";
    display: inline-block;
    margin: 0;
    padding: 0 5px 0 0;
    vertical-align: middle;
    color: #b4b5b4;
    font-size: 1.5em;
    width: 25px;
    text-align: center;
}

.tags-header {
    margin: 10px 0 10px 0;
    padding: 10px 0 10px 0;
}

.tags-header:before {
    font-family: "FontAwesome";
    font-weight: normal;
    content: "\f02b";
    margin: 0;
    padding: 0 8px 0 0;
    color: #b4b5b4;
}

input[type=text].tags-field {
    margin: 0 5px 0 0;
    padding: 3px 5px 3px 5px;
    font-size: 0.825em;
    width: 185px;
}

